@*************************************
* ESM+ 공지사항                     *
*                                   *
* @param model 넘어오는 공지사항 내용 *
*************************************@

@(model: NoticeModel)

@head = {
<link rel="stylesheet" type="text/css" href="http://script.esmplus.com/css/member.css" />
<style>
    .note_board
    {
    margin-top: 10px;
    border: 1px solid #555877;
    }
    .note_board table
    {
    width: 100%;
    }
    .board_type02 thead th
    {
    background: url("http://pics.esmplus.com/front/bg/bg_grid_table_type1_th1.gif") repeat-x -2px -1px;
    padding: 4px 0 3px;
    color: #fff;
    font-weight: normal;
    border-left: 1px solid #7c809b;
    }
    .board_type02 tbody td
    {
    padding: 4px 9px 3px;
    border-bottom: 1px solid #dfe0e6;
    border-left: 1px solid #dfe0e6;
    text-align: left;
    letter-spacing: -1px;
    background: #fff;
    }
</style>
<script language="javascript" type="text/javascript" src="http://script.esmplus.com/js/json2.js"></script>
<script type="text/javascript">
            var sellerPermission = 'all';
            var siteType = '@model.siteType';
            var noticeType = '@model.noticeType';
            var noticeNo = 0;
            var selectNo = 0;
            var searchType = 	'@model.searchType';
            var selectedNoticeSeq = 0;
            var selectRowIndex = 0;
            var currentPageIndex = @model.currentPageIndex;
            var dataLength = @model.dataList.size();
            var totalCount = @model.totalCount;
            var pageCount = @model.pageCount;

        </script>
<script type="text/javascript">
var searchParam = {
Permission: sellerPermission,
CurrentPage: 1,
PageSize: 10,

SiteType: '',
NoticeType: '',
SearchType: '',
SearchText: ''
};
            $(document).ready(function () {

                $('.board_type02').find('.subject').bind('mouseover mouseleave click', function (e) {
                    var object = $('.board_type02').find('.subject');
                    if (e.type == 'click') {
                        var notice_no = $(this).parent().find("[name=NoticeSeq]").html().trim();
                        var row_index = $(this).parent().attr("rowindex").trim();

                        if (notice_no > 0 && row_index > -1) {
                            Util.NoticeDetail(notice_no, row_index);
                        }
                    }
                    if (e.type == 'mouseover') {
                        if (!$(this).parent().hasClass('newset')) {
                            $(this).parent().addClass("hover");
                        }
                        else {
                            $(this).parent().removeClass("newset");
                            $(this).parent().addClass("hover2");
                            $(this).parent().find(".subject").addClass("bold");
                        }
                    }
                    else {
                        if (!$(this).parent().hasClass('hover2')) {
                            $(this).parent().removeClass("hover");
                        }
                        else {
                            $(this).parent().addClass("newset");
                            $(this).parent().removeClass("hover2");
                            $(this).parent().removeClass("bold");
                        }
                    }
                });

            searchParam.CurrentPage = currentPageIndex;
            searchParam.SiteType = $('#SiteType').val();
            searchParam.NoticeType = $('#selNoticeType').val();
            searchParam.SearchType = $('#selSearchType').val();
            searchParam.SearchText = encodeURIComponent($('#txtSearchText').val());
            });

        </script>
<style>
    body
    {
    background: none;
    }
    .hover
    {
    background-color: #eee;
    }
    .hover2
    {
    background-color: #eee;
    }
    .bold
    {
    font-weight: bold;
    }
    .selected
    {
    background-color: #eee;
    }

    .product_comt a
    {
    position: static;
    }
</style>
<script type="text/javascript" src="@routes.Assets.at("javascripts/esmAnnounce.js?dummy=201211143337")"></script>
}


@views.html.notice.layout("ESM+ 공지사항",head){

<div id="contents">
    <!-- 컨텐츠 -->
    <div class="basic_contents">
        <div class="c_title">
            <h3>
                공지사항<span class="txt_s">옥션과 G마켓, 그리고 ESM PLUS서비스에 대한 새로운 소식과 판매에 도움이 되는 정보를 안내해 드립니다.
				</span>
            </h3>
            <span class="c_location">Main &gt; 화원관리 &gt; <strong>공지사항</strong></span>
        </div>
        <div class="search_area search_box">
            <dl class="search_select">
                <dt>사이트</dt>
                <dd>
                    <select name="SiteType" id="SiteType" class="selectType01 native">
                       @for(siteType <- model.siteTypes){
                           @if(siteType.keyValue.equals(model.siteType) ){
                            <option value="@siteType.keyValue" selected="selected">@siteType.keyName</option>
                           }else{
                           <option value="@siteType.keyValue">@siteType.keyName</option>
                           }
                       }
                    </select>
                </dd>
                <dt>공지구분</dt>
                <dd>
                    <select name="selNoticeType" id="selNoticeType" class="selectType01 native">
                        @for(noticeType <- model.noticeTypes){
                            @if(noticeType.keyValue.equals(model.noticeType) ){
                                <option value="@noticeType.keyValue" selected="selected">@noticeType.keyName</option>
                            }else{
                                <option value="@noticeType.keyValue">@noticeType.keyName</option>
                            }
                        }
                    </select>
                </dd>
            </dl>
            <div class="search_insert">
                <select name="selSearchType" id="selSearchType" class="selectType01 native">
                    @for(searchType <- model.searchTypes){
                        @if(searchType.keyValue.equals(model.searchType) ){
                            <option value="@searchType.keyValue" selected="selected">@searchType.keyName</option>
                        }else{
                            <option value="@searchType.keyValue">@searchType.keyName</option>
                        }
                    }
                </select>
                <input type="text" class="txt" id="txtSearchText" value="@model.searchText" />
                                <a href="javascript:Util.Search()">
                    <img src='http://pics.esmplus.com/front/btn/btn_search03.gif' alt="검색" /></a> <a href="javascript:Util.PageReload()">
                <img src='http://pics.esmplus.com/front/btn/btn_reset4.gif' alt="초기화" /></a>
            </div>
        </div>
        <div class="note_board" style="min-height:285px;">
                <table summary="공지번호, 사이트, 구분, 공지제목, 등록일, 조회수" class="board_type02">
                <caption>
                    공지사항</caption>
                <colgroup>
                    <col style="width: 7%;" />
                    <col style="width: 7%;" />
                    <col style="width: 9%;" />
                    <col />
                    <col style="width: 9%;" />
                    <col style="width: 7%;" />
                </colgroup>
                <thead>
                <tr>
                    <th scope="col" class="first">
                        공지번호
                    </th>
                    <th scope="col">
                        사이트
                    </th>
                    <th scope="col">
                        구분
                    </th>
                    <th scope="col">
                        공지제목
                    </th>
                    <th scope="col">
                        등록일
                    </th>
                    <th scope="col">
                        조회수
                    </th>
                </tr>
                </thead>
                <tbody>
                @if(model.dataList.isEmpty()){
                <tr class="first">
                    <td class="first number" colspan="6">
                        조회 된 내용이 없습니다.
                    </td>
                </tr>
                }
                <tr class="first">
					</tr>

                    @for((data,rowIndex) <- model.dataList.zipWithIndex){

                        <tr class= " @(if(data.topYn=="Y") "newset" else "")" rowIndex = "@rowIndex">
                            <td class="first number" name="NoticeSeq">
                            @data.noticeSeq
                            </td>
                            <td>
                            @if(data.siteType.equals("옥션")){
                                <span class="auction">A</span>옥션

                            }else{
                                @if(data.siteType.equals("G마켓")){
                                    <span class="gmarket">G</span>지마켓
                                }else{
                                    <span>@data.siteType</span>
                                }
                            }

                            </td>
                            <td name="Category">
                            @data.noticeType
                            </td>
                            <td class="subject" name="Title">
                                <a href="#">@data.noticeTitle</a>
							</td>
							<td class="number" name="Date">
								@data.insDate.format("yyyy-MM-dd")
							</td>
							<td class="number">
								@data.hitCount
							</td>
                        </tr>
                    }

                </tbody>
                </table>
            </div>
        <div class="pagging">
        </div>
        @views.html.notice.pagination(model.currentPageIndex, model.pageCount, model.pageGroupSize)
        <div id="notice_contents" style="display: none;">
                <h4 class="sub_title sub_title_m">
                    상세 내용 보기</h4>
                <div class="product_comt">
                    <div class="notice_header">
                        <p class="numbering" id="seq">
                        </p>
                        <p class="division blue">
                            <strong class="c_2567bb" id="category"></strong>
                        </p>
                        <p class="subject" id="title">
                        </p>
                        <div class="date_info">
                            <p class="date" id="date">
                            </p>
                            <p class="hits" id="hit">
                            </p>
                        </div>
                    </div>
                    <div class="scroll_view" id="" style="height: 800px;">
                        <p id="notice_contents_detail">
                        </p>
                    </div>
                </div>
                <ul class="prev_next">
                    <li><span class="p_view"><a href="javascript:;">이전공지</a></span> <a href="javascript:;"
                                                                                       class="commmet" id="prev_title"></a></li>
                    <li><span class="n_view"><a href="javascript:;">다음공지</a></span> <a href="javascript:;"
                                                                                       class="commmet" id="next_title"></a></li>
                </ul>
            </div>
        <div class="top_go">
                <a href="#">
                    <img src='http://pics.esmplus.com/front/btn/btn_topgo.gif' alt="상단가기" /></a></div>

    </div>
    <!-- //컨텐츠 -->
</div>

}